@model LiWiMus.Web.Areas.Artist.ViewModels.CreateArtistViewModel
@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form method="post" 
      enctype="multipart/form-data"
      asp-formhelper="true"
      asp-action="Create">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input type="text" class="form-control" asp-for="Name">
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3">
        <label asp-for="About" class="form-label">About</label>
        <input asp-for="About" type="text" class="form-control">
        <span asp-validation-for="About"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Photo" class="form-label">Photo</label>
        <input asp-for="Photo" class="form-control" type="file">
        <span asp-validation-for="Photo"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>