@model List<LiWiMus.Core.Albums.Album>

@{
    ViewData["Title"] = "Albums";
}

<ol>
    @foreach (var album in Model)
    {
        <li><a asp-area="Artist" asp-controller="Albums" asp-action="Details" asp-route-id="@album.Id">@album.Title</a></li>
    }
</ol>