@model System.Collections.Generic.List<LiWiMus.Web.Areas.User.ViewModels.ChatViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_MainLayout";
}

<button id="online">Start</button>
<button id="refresh-chats">Get chats</button>

<section>
    <div id="chats">
        @foreach (var chat in Model)
        {
            <partial name="~/Areas/User/Views/Partials/ChatPartial.cshtml" model="chat"/>
        }
    </div>
</section>