@model System.Collections.Generic.List<LiWiMus.Web.Areas.User.ViewModels.ChatViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<button class="" id="online">Start work</button>
<button id="offline">End work</button>
<button class="" id="refresh-chats">Refresh chats</button>

<section>
    <div id="chats"></div>
</section>

@section Scripts
{
    <script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/consultant_chat.js"></script>
}