@model (string userName, string resetUrl)
@{
    ViewData["Email header"] = "Password Reset";
    ViewData["User name"] = Model.userName;
}

<section>
    <p class="confirm-text" style=" padding-left: 5%;
                                font-size: 16px;
                                margin-top: 8%;">
        Forgot your password?<br/>
        Don't worry, just follow the link and come up with a new one!
    </p>
    <a class="button" href="@Model.resetUrl" style="display: inline-block;
                                background-color: #EF6817;
                                border-radius: 20px;
                                width: 100%;
                                min-height: 44px;   
                                text-align: center;
                                font-size: 16px;
                                line-height: 18px;
                                color: #FFFFFF;
                                text-decoration: none;
                                box-sizing: border-box;
                                margin-top: 8%;
                                margin-bottom: 8%;
                                cursor: pointer;
                                padding: 13px 0 11px 0;">
        <p style="margin: 0"> Reset Password </p>
    </a>
</section>