@model LiWiMus.Web.MVC.Areas.Music.ViewModels.GenreViewModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<section class="p-3">
    <a asp-area="Search" asp-controller="Genre" asp-action="Index">
        <button class="random-avatar-button">
            Back
        </button>
    </a>
</section>

<h1 class="music-genre-name">
    @Model.Name
</h1>

<section class="music-track-section">
    @foreach (var track in Model.Tracks)
    {
        <a>
            <div class="music-track-container">
                <div class="music-track-image-wrap">
                    <img class="music-track-image" src="../images/album_cover.jpg" alt="Track cover."/>
                </div>
                <div class="music-track-text">
                    <p class="music-track-name">@track.Name</p>
                    <p class="music-track-artists">@string.Join(" & ", track.Owners.Select(x => x.Name).Take(3))</p>
                    <p class="music-track-album-title">@track.Album.Title</p>
                </div>
            </div>
        </a>
    }
</section>
