<div class="wrap" style=" width: 365px;
        min-height: 500px;
        margin: 10px auto 0;
        color: #000000;
        font-family: 'Overpass',serif;
        background-image: url('https://liwimus.aslipatov.site/images/email-background.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        justify-items: center;
        padding: 2%;">
            <div class="outline" style="width: 328px;
            min-height: 464px;
            background: rgba(196, 196, 196, 0.25);
            outline: 1px solid #ffffff;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            border-radius: 10px;
            margin: 0 auto;
            padding: 2%;">
                <div class="email-card" style="
                text-align: center;
                margin: 2% auto 0;
                width: 295px;
                min-height: 429px;
                border-radius: 10px;
                top: 5%;
                align-items: center;
                padding-top: 7%;
                background-color: #FFEDE1;
                border: none;">
                        <a class="logo-link" href="https://liwimus.aslipatov.site" style=" cursor: pointer;">
                            <img class="logo-image" src="https://liwimus.aslipatov.site/images/logo.jpg" alt="Logo." width="118px" height="123px" style=" border-radius: 10px;">
                        </a>
                    <div class="all-text" style="text-align: start;
                    max-width: 210px;
                    margin-left: 16%;
                    margin-right: 15%;">
                        <h2 class="email-confirm-title" style="font-family: 'Overpass',serif;
                        font-weight: 300;
                        font-size: 25px;
                        line-height: 18px;
                        margin: 0;
                        margin-top: 7%;">
                            @ViewData["Email header"]
                        </h2>
                        <p class="dear-user-text" style="font-size: 18px;
                        margin-top: 12%;
                        padding-left: 5%;
                        margin-bottom: 0;">
                           Dear @ViewData["User name"],
                        </p>
                        @RenderBody()
                    </div>
            </div>
        </div>
</div>