<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - LiWiMus.Web</title>
    <partial name="Partials/_LinksPartial"></partial>
</head>
<body>
<button id="user-chat-start-or-open">Open</button>
<div id="chat">
    
</div>

<textarea id="ta-send-to-consultant" cols="30" rows="10"></textarea>
<button id="btn-send-to-consultant">Send</button>

<button id="consultant-chats-start-or-open">Start as cons</button>
@RenderBody()
<partial name="Partials/_ScriptsPartial"></partial>
<script src="~/lib/signalr/dist/browser/signalr.min.js"></script>
<script src="~/js/consultant_chat.js"></script>
<script src="~/js/user_chat.js"></script>
</body>
</html>