@{
    Layout = "_Layout";
}
@await RenderSectionAsync("Header", false)
@if (!IsSectionDefined("Header"))
{
    <partial name="Partials/_PlainHeaderPartial"/>
}
<div class="container-fluid" style="padding: 0; margin: 0;">
    <main role="main">
        <div class="body-sidebar">
            <div class="user-sidebar" style="background-color: #21201F; position: relative;">
                <partial name="Partials/_LoginSidebarPartial"/>
            </div>
            @RenderBody()
        </div>
    </main>
</div>

@section Scripts
{
    @await RenderSectionAsync("Scripts", false)
}