@{
    Layout = "_LayoutSidebar";
}

<div>
    <a asp-action="Artists">Artists</a>
</div>

<div>
    <a asp-action="Playlists">Playlists</a>
</div>

<div>
    <a asp-action="Users">Playlists</a>
</div>

<div>
    <a asp-action="Tracks">Playlists</a>
</div>

<div>
    @RenderBody()
</div>
