@model (int trackId, IEnumerable<LiWiMus.Web.MVC.ViewModels.PlaylistGeneralInfoViewModel> playlists)

<form asp-formhelper="true" asp-area="User" asp-controller="Track" asp-action="AddToPlaylist">
    <input type="hidden" value="@Model.trackId" name="trackId">
    <select name="playlistId">
        @foreach (var playlist in Model.playlists)
        {
            <option value="@playlist.Id">@playlist.Name</option>
        }
    </select>
    <button>Save</button>
</form>