@model System.Collections.Generic.IEnumerable<LiWiMus.Web.MVC.ViewModels.ForListViewModels.AlbumForListViewModel>

@{
    Layout = null;
}

@foreach (var album in Model)
{
    <div>
        @album.Title @album.PublishedAt @string.Join("&", album.Owners.Select(x => x.Name))
    </div>
}