@model System.Collections.Generic.IEnumerable<LiWiMus.Web.MVC.ViewModels.ForListViewModels.ArtistForListViewModel>


<div class="artists">
    @foreach (var artist in Model)
    {
        <div class="artist-container">
            <img class="artist-image" src="../images/artist_image.jpg"/>
            <p class="artist-name">@artist.Name </p>
            <p class="artist-about">@artist.About</p>
        </div>
    }
</div>
