@model System.Collections.Generic.IEnumerable<LiWiMus.Web.MVC.ViewModels.ForListViewModels.GenreForListViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@foreach (var genre in Model)
{
    <div>
        @genre.Name
    </div>
}
