@model System.Collections.Generic.IEnumerable<LiWiMus.Web.MVC.ViewModels.ForListViewModels.GenreForListViewModel>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<div class="genres">
    @foreach (var genre in Model)
    {
        <div class="genre-container">
            <p class="genre-name">@genre.Name</p>
        </div>
    }
</div>

