@model IEnumerable<LiWiMus.Web.MVC.ViewModels.ForListViewModels.PlaylistForListViewModel>

@foreach (var playlist in Model)
{
    <div>
        @playlist.Name @playlist.Owner.UserName @playlist.CountSubscribers @playlist.IsOwner
    </div>
}