@model System.Collections.Generic.IEnumerable<LiWiMus.Web.MVC.Areas.Search.ViewModels.TrackListViewModel>

@{
    Layout = null;
}

@foreach (var e in Model)
{
    <div class="track-information m-2 mb-3 p-2">
        <img src="../images/logo.jpg" alt="Track cover." width="60px" height="60px" style="border-radius: 10px"/>
        <div class="track-text" style="">
            <p class="fw-bold">@e.Name</p>
            <p>@e.Owners.First().Name</p>
            <p>@e.Album.Title</p>
        </div>
    </div>
    
}
