@using LiWiMus.Core.Users
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LiWiMus.Core.Roles
@inject SignInManager<User> _signInManager
@inject UserManager<User> _userManager

@{
    User? currentUser;
    if (_signInManager.IsSignedIn(User) && (currentUser = await _userManager.GetUserAsync(User)) is not null)
    {
        <div class="user-sidebar-nav">
            <img id="avatar" src="~/@currentUser.AvatarLocation" alt="" class="img-fluid" style="width: 120px; border-radius: 100%"/>
            <div style="padding-top: 7%; padding-bottom : 10%">
                <p class="text-white" style="font-weight: bold; word-wrap: break-word; text-align: center; margin: auto; width: 120px; font-size: larger">
                    @currentUser.UserName
                </p>
            </div>
            @if (User.HasClaim(SystemPermission.ClaimType, DefaultSystemPermissions.Admin.Access.Name))
            {
                <div>
                    <a class="text-link" href="/admin">Admin</a>
                </div>
            }
            <div>
                <a class="text-link" asp-area="User" asp-controller="Profile" asp-action="Index">Profile</a>
            </div>
            <div>
                <a class="text-link">Favourites</a>
            </div>
            <div>
                <a class="text-link">My Playlists</a>
            </div>
            <div>
                <a class="text-link">Subscribers</a>
            </div>
            <div>
                <form class="form-inline" asp-area="User" asp-controller="Account" asp-action="Logout">
                    <button type="submit" class="nav-link btn btn-link text-link" style="padding:0; font-weight: lighter; font-size: smaller">Logout</button>
                </form>
            </div>
        </div>
    }
    else
    {
        <div class="login-buttons text-white">
            <div style="margin: 15px">
                <a asp-area="User" asp-controller="Account" asp-action="Login"
                   class="btn text-black" style="width:100%; border-radius: 50px; background-color: #C4C4C4;">
                    Log In
                </a>
            </div>
            <div style="margin: 15px;">
                <a asp-area="User" asp-controller="Account" asp-action="Register" class="btn text-link" style="background-color: transparent;border-radius: 50px;width:100%;">
                    Sign Up
                </a>
            </div>
        </div>
    }
}
<div class="website-info text-white"; style=" font-weight: lighter; position: absolute;top: 80%; left: 10%; transform: translate(-10%, -80%)">

    <div>
        <a asp-area="" asp-controller="Home" asp-action="Privacy" class="text-link">Privacy</a>
    </div>
    <div>
        <a>
            Cookies
        </a>
    </div>

</div>