@model List<LiWiMus.Core.Tracks.Track>

@{
    ViewData["Title"] = "Tracks";
}

<ol>
    @foreach (var track in Model)
    {
        <li>
            <a asp-area="Artist" asp-controller="Tracks" asp-action="Index" asp-route-id="@track.Id">@track.Name</a>
        </li>
    }
</ol>