@model (LiWiMus.Web.MVC.Areas.User.ViewModels.MessageViewModel message, bool isForOwner)

<p>
    @(Model.isForOwner 
        ? "Your message: " + Model.message.Text 
        : $"{Model.message.Sender.UserName} message: " + Model.message.Text)
</p>