@model LiWiMus.Web.Areas.User.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutSidebar";
}

<div class="p-0">
    <section class="user-nav">

    </section>

    <div class="editor-wrap">
        <div class="stars-image">
        </div>

        <h2 class="your-profile-header">
            Your profile
        </h2>

        <section class="edit-inputs-group">
            <form asp-formhelper="true"
                  class="edit-inputs-form"
                  asp-resetFormAfterSuccess="false"
                  asp-area="User" asp-controller="Profile" asp-action="Update">

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="label-input">
                        <label asp-for="FirstName"></label>
                        <input class="edit-profile-input disabled-input" asp-for="FirstName" disabled="disabled"/>
                        <span asp-validation-for="FirstName"></span>
                    </div>

                    <div class="label-input">
                        <label asp-for="BirthDate"></label>
                        <input class="edit-profile-input disabled-input" asp-for="BirthDate" value="@Model.BirthDate?.ToString("yyyy-MM-dd")" disabled="disabled">
                        <span asp-validation-for="BirthDate"></span>
                    </div>

                    <div class="label-input">
                        <label asp-for="UserName"></label>
                        <input class="edit-profile-input disabled-input" asp-for="UserName" disabled="disabled">
                        <span asp-validation-for="UserName"></span>
                    </div>

                    <div class="label-input">
                        <label asp-for="SecondName"></label>
                        <input class="edit-profile-input disabled-input" asp-for="SecondName" disabled="disabled">
                        <span asp-validation-for="SecondName"></span>
                    </div>

                    <div class="label-input">
                        @{
                            var checkedWhenWomen = !Model.IsMan ? "checked" : "";
                            var checkedWhenMan = Model.IsMan ? "checked" : "";
                        }
                        <p class="m-0">Gender</p>
                        <input class="form-check-input disabled-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1" @checkedWhenMan asp-for="IsMan" disabled="disabled">
                        <label class="form-check-label" for="flexRadioDefault1">
                            Male
                        </label>
                        <input class="form-check-input disabled-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" @checkedWhenWomen disabled="disabled">
                        <label class="form-check-label" for="flexRadioDefault2">
                            Female
                        </label>
                    </div>

                    @if (Model.IsAccountOwner)
                    {
                        <div class="label-input">
                            <label asp-for="Email"></label>
                            <input class="edit-profile-input disabled-input" asp-for="Email" disabled="disabled">
                            <span asp-validation-for="Email"></span>
                        </div>
                    }

                    <div class="label-input">
                        <label asp-for="Patronymic"></label>
                        <input class="edit-profile-input disabled-input" asp-for="Patronymic" disabled="disabled">
                        <span asp-validation-for="Patronymic"></span>
                    </div>

                    @if (Model.IsAccountOwner)
                    {
                        <div class="">
                            <button class="edit-button" type="button" id="btn-edit-profile-info">Edit</button>
                        </div>

                        <div class="">
                            <input class="edit-button" id="btn-save-profile-info" type="submit" value="Save" style="display: none; background-color: #21201F">
                        </div>
                    }

                </div>
            </form>
        </section>

        @if (Model.IsAccountOwner)
        {
            <div class="change-password-button">
                <a asp-area="User" asp-controller="Profile" asp-action="ChangePassword">Change Password</a>
            </div>
        }
    </div>
</div>


@section Scripts
{
    <script src="/js/update_profile.js"></script>
}