@model LiWiMus.Web.Areas.User.ViewModels.ProfileViewModel

@{
    ViewBag.Title = "title";
    Layout = "_LayoutSidebar";
}

<style>
    .img-container img {
      max-width: 100%;
    }
</style>


<div class="p-0">
    <section class="user-nav">

    </section>

    <div class="editor-wrap">
        <div class="stars-image">
        </div>

        <h2 class="your-profile-header">
            Your profile
        </h2>

        <section class="edit-inputs-group">
            <form asp-formhelper="true"
                  class="edit-inputs-form"
                  asp-resetFormAfterSuccess="false"
                  asp-beforeSubmit="beforeSubmit"
                  asp-area="User" asp-controller="Profile" asp-action="Update">

                <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3">
                    <div class="label-input">
                        <label asp-for="FirstName"></label>
                        <input class="edit-profile-input disabled-input" asp-for="FirstName" disabled="disabled"/>
                        <span asp-validation-for="FirstName"></span>
                    </div>

                    <div class="label-input">
                        <label asp-for="BirthDate"></label>
                        <input class="edit-profile-input disabled-input" asp-for="BirthDate" value="@Model.BirthDate?.ToString("yyyy-MM-dd")" disabled="disabled">
                        <span asp-validation-for="BirthDate"></span>
                    </div>

                    <div class="label-input">
                        <label asp-for="UserName"></label>
                        <input class="edit-profile-input disabled-input" asp-for="UserName" disabled="disabled">
                        <span asp-validation-for="UserName"></span>
                    </div>

                    <div class="label-input">
                        <label asp-for="SecondName"></label>
                        <input class="edit-profile-input disabled-input" asp-for="SecondName" disabled="disabled">
                        <span asp-validation-for="SecondName"></span>
                    </div>

                    <div class="label-input">
                        <p class="m-0">Gender</p>
                        @{
                            var isMale = Model.IsMale;
                        }
                        <input class="form-check-input disabled-input" @(isMale ? "checked" : "") type="radio" name="gender" id="gender-male" disabled="disabled">
                        <label class="form-check-label" for="gender-male">
                            Male
                        </label>
                        <input class="form-check-input disabled-input" @(!isMale ? "checked" : "") type="radio" name="gender" id="gender-female" disabled="disabled">
                        <label class="form-check-label" for="gender-female">
                            Female
                        </label>
                        <input type="hidden" id="is-male" asp-for="IsMale">
                    </div>

                    @if (Model.IsAccountOwner)
                    {
                        <div class="label-input">
                            <label asp-for="Email"></label>
                            <input class="edit-profile-input disabled-input" asp-for="Email" disabled="disabled">
                            <span asp-validation-for="Email"></span>
                        </div>

                        <label class="label-input" style="cursor: pointer">
                            Change your avatar
                            <input type="file" asp-for="Avatar" class="visually-hidden disabled-input" id="input" name="image" accept="image/*" disabled="disabled">
                            <span asp-validation-for="Avatar"></span>
                            <div class="camera-icon">
                                <img src="https://liwimus.aslipatov.site/images/camera.png" width="48px" height="48px" alt="Camera icon."/>
                            </div>
                        </label>
                            
                        
                        <div class="modal fade" id="modal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="modalLabel">Crop the image</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="img-container">
                                            <img id="image" src="">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-primary" id="crop">Crop</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                    <div class="label-input">
                        <label asp-for="Patronymic"></label>
                        <input class="edit-profile-input disabled-input" asp-for="Patronymic" disabled="disabled">
                        <span asp-validation-for="Patronymic"></span>
                    </div>

                    @if (Model.IsAccountOwner)
                    {
                        <div class="" style="text-align: center">
                            <button class="edit-button" type="button" id="btn-edit-profile-info">Edit</button>
                        </div>

                        <div class="">
                            <input class="edit-button" id="btn-save-profile-info" type="submit" value="Save" style="display: none; background-color: #21201F">
                        </div>
                    }

                </div>
            </form>
        </section>
        
        <section class="change-password-random-avatar-btns">
            <form asp-formhelper="true" asp-action="ChangeAvatarToRandom" style="display: flex; justify-content: center">
                <button class="random-avatar-button">Set random avatar</button>
            </form>
            @if (Model.IsAccountOwner)
            {
                <div class="change-password-button">
                    <a asp-area="User" asp-controller="Profile" asp-action="ChangePassword">Change Password</a>
                </div>
            }
        </section>

        
    </div>
</div>


@section Scripts
{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/2.0.0-alpha.2/cropper.min.js" integrity="sha512-IlZV3863HqEgMeFLVllRjbNOoh8uVj0kgx0aYxgt4rdBABTZCl/h5MfshHD9BrnVs6Rs9yNN7kUQpzhcLkNmHw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/js/update_profile.js"></script>
}