@model LiWiMus.Web.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}

<div class="row">
    <div class="col-md-6">
        <h2>Вход в приложение</h2>
        <form method="post" asp-controller="Account" asp-action="Login">
            <div asp-validation-summary="ModelOnly"></div>
            <div>
                <label asp-for="UserName"></label><br/>
                <input asp-for="UserName" id="userName"/>
                <span asp-validation-for="UserName"></span>
            </div>
            <div>
                <label asp-for="Password"></label><br/>
                <input asp-for="Password"/>
                <span asp-validation-for="Password"></span>
            </div>
            <div>
                <label asp-for="RememberMe"></label><br/>
                <input asp-for="RememberMe"/>
            </div>
            <div>
                <input type="submit" value="Login"/>
            </div>
        </form>
    </div>
    
    <button id="btn-send-email-reset-password">Reset password</button>

    <div class="col-md-6">
        <h1>External Login</h1>
        <hr/>
        @{
            if (Model!.ExternalLogins.Count == 0)
            {
                <div>No external logins configured</div>
            }
            else
            {
                <form method="post" asp-action="ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl">
                    <div>
                        @foreach (var provider in Model.ExternalLogins)
                        {
                            <button type="submit" class="btn btn-primary" style="width:auto"
                                    name="provider" value="@provider.Name"
                                    title="Login using your @provider.DisplayName account">
                                @provider.DisplayName
                            </button>
                        }
                    </div>
                </form>
            }
        }
    </div>
</div>

@section Scripts
{
    <script src="/js/login.js"></script>
}
