$color_1:#EF6817;
$color_2:#444444;
$color_3:#21201F;
$color_4:#727271;
$btn-text-color: white;

.edit-btns{
  color: $btn-text-color;
  min-width: 100px;
  box-sizing: border-box;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
}

.your-profile-header {
  margin: 2%;
}

.editor-wrap {
  color: white;
  background-color: $color_4;
  padding-bottom: 2%;
  height: 100%;
  width: 100%;
}

.edit-button {
  background-color: $color_1;
  @extend .edit-btns;
  border: none;
  max-width: 100px;
  vertical-align: middle;

  &:hover {
    background-color: #ee522f;
  }
  &:focus {
    outline: 1px solid white;
  }

  &:active {
    background-color: #f3a491;
  }
}

.change-password-button {
  border: 2px solid #ffffff;
  a {
    color: #ffffff;
    text-decoration: none;
  }
  @extend .edit-btns;
  width: 20%;
  margin: 3%;
  padding: 10px;

  &:hover {
    background-color: #9b9a9a;
  }
  &:focus {
    background-color: #9b9a9a;
  }
  &:active {
    background-color: #bbbbbb;
  }
}

.edit-inputs-group {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2%;
  margin: 2% 6%;
}

.edit-inputs-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-profile-input {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 95%;
  padding-left: 4%;
  height: 40px;
}

.stars-image {
  height: 15%;
  background-image: url('../images/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.inputs-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.label-input {
  margin-bottom: 2%;
  label {
    margin-bottom: 10px;
  }
}

.translations-content-container {
  background-color: $color_4;
  color: white;
}

.privacy-link {
  color: $color_1;
}

.change-password-container {
  background-color: #727271;
  text-align: center;
  color: white;
}

.save-password-button {
  @extend .change-password-button;
  background: none;
  padding: 2%;
}

.change-password-outline {
  box-sizing: border-box;
  width: 85%;
  margin: 2% auto 0;
  outline: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 10px;
  padding: 4% 4% 2%;
  background-color: rgba(140, 140, 140, 0.09);
}

.change-password-form-container {
  background-color: $color_2;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  padding: 5% 7%;
}
