$color_1: #EF6817;
$color_2: #444444;
$color_3: #21201F;
$color_4: #727271;
$btn-text-color: white;

body {
  background-color: $color_4;
}

h1, h2 {
  font-weight: lighter;
}

h1 {
  font-size: 64px;

  @media only screen and (max-device-width: 480px){
    font-size: 44px;
  }
}

h2 {
  font-size: 46px;
  
  @media only screen and (max-device-width: 480px){
    font-size: 32px;
  }
}


.edit-btns {
  color: $btn-text-color;
  min-width: 100px;
  box-sizing: border-box;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
}

.your-profile-header {
  margin: 0 2% 2%;
}

.editor-wrap {
  color: white;
  background-color: $color_4;
  padding-bottom: 2%;
  min-height: fit-content;
  width: 100%;
}

.edit-button {
  background-color: $color_1;
  @extend .edit-btns;
  border: none;
  max-width: 100px;
  vertical-align: middle;

  &:hover {
    background-color: #ee522f;
  }

  &:focus {
    outline: 1px solid white;
  }

  &:active {
    background-color: #f3a491;
  }
}


.edit-inputs-group {
  background: rgba(255, 255, 255, 0.1);
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 10px;
  padding: 2%;
  margin: 2% 6%;
}

.edit-inputs-form {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.edit-profile-input {
  background-color: white;
  border: none;
  border-radius: 5px;
  width: 95%;
  padding-left: 4%;
  height: 40px;
}

.stars-image {
  height: 15%;
  background-image: url('https://liwimus.aslipatov.site/images/stars.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

.inputs-column {
  display: flex;
  flex-direction: column;
  width: 30%;
}

.label-input {
  margin-bottom: 2%;
  
  label {
    margin-bottom: 10px;
  }
}

.gender-checkbox-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1rem;
  div:nth-child(2n){
    margin-left: 3rem;
  }
}

.translations-content-container {
  background-color: $color_4;
  color: white;
}

.privacy-link {
  color: $color_1;
}

.change-password-container {
  background-color: #727271;
  text-align: center;
  color: white;
}

.change-password-outline {
  box-sizing: border-box;
  width: 60%;
  margin: 2% auto 0;
  outline: 1px solid rgba(255, 255, 255, 0.26);
  border-radius: 10px;
  padding: 4% 4% 2%;
  background-color: rgba(140, 140, 140, 0.09);
}

.change-password-form-container {
  background-color: $color_2;
  margin: 0 auto;
  box-sizing: border-box;
  border-radius: 10px;
  box-shadow: 0 8px 8px rgba(0, 0, 0, 0.25);
  padding: 5% 7%;
}

.change-password-random-avatar-btns {
  display: flex;
  justify-content: space-between;
  text-align: center;
  margin: 0 3%;
  flex-wrap: wrap;

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    flex-direction: column;
  }
}

.change-password-button {
  border: 2px solid #ffffff;
  margin: 2rem;
  
  a {
    color: #ffffff;
    text-decoration: none;
  }

  @extend .edit-btns;
  padding: 10px;

  &:hover {
    background-color: #9b9a9a;
  }

  &:focus {
    background-color: #9b9a9a;
  }

  &:active {
    background-color: #bbbbbb;
  }

  width: max-content;

  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    width: 165px;
    margin: 1rem auto 0;
  }
}

.save-password-button {
  @extend .change-password-button;
  background: none;
  padding: 1%;
}

.random-avatar-button {
  @extend .change-password-button;
  border-color: $color_1;
  background-color: #727271;
  box-sizing: border-box;
  align-self: center;
  &:hover{
    background-color: #797878;
  }
}

.camera-icon {
  margin-left: 30%;
  opacity: 60%;

  &:hover {
    opacity: 100%;
  }
}

.btn-send-to-chat {
  @extend .random-avatar-button;
  margin: 0;
  border-radius: 5px;
  background-color: $color_1;
  &:hover {
    background-color: #e15035;
    border: none;
  }
}

.btn-close-chat {
  @extend .random-avatar-button;
}

.textarea-send-btn {
  display: flex;
  flex-wrap: wrap;
  height: 100%; 
  width: 75%;
  justify-content: center;
  margin-top: 1rem;
}

.manage-chat-btns {
  display: flex; 
  justify-content: center; 
  outline: 1px solid white;
  padding: 20px; 
  margin: 3% auto 0;
  border-radius: 10px; 
  width: fit-content; 
  background-color: rgba(68,68,68,0.15); 
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}

.btn-send-to-user {
  @extend .btn-send-to-chat;
}

.chat-and-textarea-and-button {
  display: flex; 
  flex-direction: column; 
  align-items: center;
}

.chat {
  outline: 1px solid #fff7f7;
  margin: 20px;
  max-height: 400px;
  overflow: auto;
  padding: 6px;
  border-radius: 10px;
  width: fit-content;
  background-color: rgba(68,68,68,0.15);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  max-width: 100%;
  color: white;
}

.messages-area {
  height: 68vh; 
  width: 75%; 
  overflow: auto;
  border-bottom: 2px solid $color_1;
}

.chat-btn-wrap {
  button {
    height: 100%;
  }
}

.send-message {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.ta-send-message-to-user {
  width: 100%;
  background: none;
}

div::-webkit-scrollbar {
  width: 10px;
}

div::-webkit-scrollbar-track {
  -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

div::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, #EF6817, #EF6817);
}

.text-area-custom {
  width: 70%;
  background: none;
  &::-webkit-scrollbar{
    width: 0;
  }
  
  &:focus {
    background: none;
    border-color: $color_1;
    box-shadow: 0 0 0 0.05rem $color_1;
  }
}

.track-form-search{
  display: flex;
  flex-direction: column;
}

.search-btn {
  color: white;
  text-transform: uppercase;
  background: $color_1;
  height: 60px;
  border: none;
  margin: 2rem;
  border-radius: 5px;
  width: 40%;
  font-size: 20px;

  @media only screen
  and (min-device-width : 768px) {
    border-radius: 0 5px 5px 0;
    margin: 0;
    width: 20%;
    padding: 20px;
  }

  &:hover {
    color: #b2b2b2;
    background: #e15522;
  }

  &:focus {
    color: #9d1e0d;
  }

  &:active {
    color: $color_1;
  }
}

.track-form-search input{
  height: 60px;
  text-indent: 25px;
  border: 2px solid #d6d4d4;
  width: 80%;
  @media only screen
  and (min-device-width : 768px) {
    width: 55%;
    border-radius: 5px 0 0 5px;
  }
}

.track-form-search input:focus{
  box-shadow: none;
  border: 2px solid $color_1;
}

.track-information {
  display: flex;
  flex-wrap: wrap;
  border: 1px solid white;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  background-color: rgb(138 138 138 / 36%);
}

.track-text {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 0;
}

.track-text p {
  margin: 0 0 3px;
}

.track-section {
  width: max-content;
  min-width: 50%;
}

.show-more-button {
  @extend .edit-button;
  @media screen {
    width: 50%;
  }
}

.show-more-btn {
  box-sizing: border-box;
  background: none;
  border: 2px solid white;
  color: white;
  padding: 10px;
  border-radius: 30px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  width: 50%;

  @media only screen
  and (min-device-width : 280px)
  and (max-device-width : 480px) {
    width: 90%;
    font-size: 18px;
  }

  &:hover {
    background: #7c7c7c;
    color: #b2b2b2;
  }

  &:focus {
    border-color: $color_1;
  }
  
  &:active {
    border-color: $color_1;
    background: #969696;
    color: #b2b2b2;
  }
}

.albums {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;

  a {
    text-decoration: none;
    color: white;
  }

  @media screen and (max-device-width : 280px) {
    max-width: 250px;
    padding: 10px;
    display: block;
  }

  @media screen and (min-device-width : 767px) {
    grid-template-columns: 1fr 1fr;
  }
  
  @media screen and (min-device-width : 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.album-container {
  background: $color_3;
  box-shadow: 3px 3px 3px 2px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  color: white;
  text-align: center;
  padding: 30px;
  max-width: 300px;
  @media screen and (min-device-width : 1000px) {
    width: 300px;
  }
  @media screen and (max-device-width : 280px) {
    max-width: 250px;
    padding: 10px;
  }

  word-wrap: break-word;
  height: 440px;
  overflow: auto;
  
  &:hover{
    cursor: pointer;
    outline: 1px solid $color_1;
  }
}

@media screen and (max-device-width : 280px) {
  #search-items {
    padding: 0.5rem!important;
  }
  
  .album-container {
    justify-content: center;
    margin: 0 auto 20px;
  }
}

.album-title {
  font-size: 22px;
  
  @media screen and (max-device-width : 1023px) {
    font-size: 20px;
  }
}

.album-cover {
  margin-bottom: 2rem;
  width: 150px;
  height: 150px;
}

.album-date {
  text-align: end;
  font-size: 12px;
}

.album-artists {
  margin-bottom: 2rem;
}

.artist-container {
  color: white;
  text-align: center;
  background: $color_3;
  padding: 15px;
  width: 300px;
  height: 440px;
  overflow: auto;
  margin-bottom: 1rem;
  border-radius: 10px;
  word-wrap: break-word;
  &:hover{
    background: black;
  }
  @media screen and (max-device-width : 280px) {
    max-width: 250px;
    padding: 10px;
  }
}

.artist-image {
  width: 250px;
  height: 250px;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.artist-name {
  margin-bottom: 1rem;
  font-size: 20px;
}

.artist-about {
  
}

.artists {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
  margin-bottom: 1rem;

  @media screen and (max-device-width : 280px) {
    max-width: 250px;
    display: block;
  }

  @media screen and (min-device-width : 767px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-device-width : 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.genres {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

  a {
    text-decoration: none;
    color: white;
  }

  @media screen and (max-device-width : 280px) {
    max-width: 250px;
    padding: 10px;
    display: block;
  }

  @media screen and (min-device-width : 767px) {
    grid-template-columns: 1fr 1fr;
  }

  @media screen and (min-device-width : 900px) {
    grid-template-columns: 1fr 1fr 1fr;
  }
} 

.genre-container {
  color: white;
  vertical-align: middle;
  text-align: center;
  background-color: $color_3;
  border-radius: 5px;
  height: 100px;
  padding: 10px;
  margin: 0.5rem;
  &:before {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
    content: "";
  }
  
  &:hover {
    background-color: black;
    outline: 1px solid $color_1;
  }

}

.genre-name {
  word-wrap: break-word;
  margin: 0;
  display: inline-block;
  vertical-align: middle;
}

.playlists {
  a {
    text-decoration: none;
    color: white;
  }
}

.playlist-container {
  display: flex;
  color: white;
  text-align: center;
  background: $color_3;
  padding: 10px;
  margin: 1rem;
  border-radius: 10px;
  justify-content: space-between;
  &:hover{
    background: black;
    cursor: pointer;
    outline: 1px solid $color_1;
  }
  
  @media screen and (max-device-width: 1023px){
    display: block;
    color: $color_3;
    text-align: center;
    background: #dcdbdb;
    padding: 15px;
    width: 330px;
    overflow: auto;
    margin-bottom: 1rem;
    border-radius: 10px;
    word-wrap: break-word;
  }

  @media screen and (max-device-width: 280px) {
    width: 260px;
    padding: 5px;
    margin: 0 0 20px;
  }
  
}

.playlist-image {
  @extend .artist-image;
  margin: 0;
}

.playlist-name {
  font-size: 24px;
  
}

.playlist-owner {
  font-size: 18px;
}

.playlist-subscribers {
  justify-self: flex-end;
}

.playlist-information {
  flex-grow: 1;
  text-align: start;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.users {
  display: flex;
  flex-direction: column;
  
  a {
    text-decoration: none;
    color: white;
  }
}

.user-container {
  display: flex;
  text-align: center;
  padding: 10px;
  margin: 0.2rem;
  justify-content: start;
  border-radius: 3px;
  background: $color_3;
  height: fit-content;
  font-size: 20px;
  
  overflow: auto;
  &:hover{
    cursor: pointer;
    background: black;
    outline: 1px solid $color_1;
  }

  @media only screen
  and (min-device-width : 280px)
  and (max-device-width : 390px) {
    width: 12%;
    font-size: 18px;
  }

  @media only screen
  and (min-device-width : 390px)
  and (max-device-width : 480px){
    width: 13%;
    font-size: 18px;
  }

  @media only screen
  and (min-device-width : 480px)
  and (max-device-width : 768px){
    width: 18%;
    font-size: 18px;
  }
  
  @media only screen
  and (min-device-width : 768px)
  and (max-device-width : 999px) {
    width: 23%;
    font-size: 18px;
  }

  @media screen and (min-device-width: 999px)
  {
    max-width: 900px;
  }

  @media screen and (max-device-width: 280px) {
    width: 260px;
    padding: 5px;
    margin: 0 0 20px;
    font-size: 16px;
  }
}

.user-image {
  width: 75px;
  height: 75px;
  border-radius: 10px;

  @media screen and (max-device-width: 1023px){
    text-align: start;
  }
}

.user-information {
  flex-grow: 1;
  text-align: start;
  margin: 0 0 0 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.user-image-container {
  text-align: start;
}

.tracks {
  @extend .albums;
}

.track-container {
  @extend .album-container;
  padding: 18px;
  overflow: auto;
}

.track-image {
  @extend .album-cover;
  width: 230px;
  height: 230px;
}

.track-name {
  @extend .album-title;
}

.track-album-title {
  
}

.custom-nav-container {
  background: $color_3;
}

.nav-link {
  &:hover {
    color: $color_1!important;
  }
}

.navbar-nav {
  font-size: 22px;
}

.custom-nav {
}

.custom-nav-container {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  
  @media screen  and (min-device-width : 768px) {
    .navbar-nav {
      display:table;
      width:100%;
      margin: 0;
    }
    .navbar-nav > li {
      float:none;
      display:table-cell;
      text-align:center;
    }
  }
}

.search-input-button-container {
  position: relative;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.search-select-container {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  
  .search-select {
    height: 50px;
    padding: 10px;
    margin: 2rem;
  }
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  flex-wrap: wrap;
}

.box select {
  background: $color_4;
  color: white;
  padding: 12px;
  width: 250px;
  border: none;
  font-size: 20px;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
  -webkit-appearance: button;
  outline: 1px solid white;
  cursor: pointer;
  &:hover {
    background-color: #989898;
  }
}

.custom-radio {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-radio+label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}

.custom-radio+label::before {
  content: '';
  display: inline-block;
  width: 1em;
  height: 1em;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #353b42;
  border-radius: 50%;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-radio:not(:disabled):not(:checked)+label:hover::before {
  border-color: #e02f1d;
}

.custom-radio:not(:disabled):active+label::before {
  background-color: $color_1;
  border-color: #e02f1d;
}

.custom-radio:focus+label::before {
  box-shadow: 0 0 0 0.2rem rgb(229, 116, 77);
}

.custom-radio:focus:not(:checked)+label::before {
  border-color: #0f2236;
}

.custom-radio:checked+label::before {
  border-color: #942424;
  background-color: $color_1;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
}

.custom-radio:disabled+label::before {
  background-color: #525252;
}

.music-genre-name {
  text-align: center;
  margin: 1rem;
  border-bottom: 2px solid $color_1;
  padding: 1rem;
  color: white;
}

.music-track-section {
  @extend .users;
  margin-top: 3rem;
}

.music-track-container {
  @extend .user-container;
  margin: 0 auto;
  width: 90%;
}
.music-track-image-wrap {
  @extend .user-image-container;
}
.music-track-image {
  @extend .user-image;
}
.music-track-text {
  @extend .user-information;
}

.music-track-name {
  margin: 0.1rem;
}

.music-track-artists {
  
}
.music-track-album-title {
  
}

.tarif-section, .contact-us-section {
  width: 100%;
  background: $color_4;
  color: white;
  font-weight: lighter;
  padding: 2rem;
  h2 {
    text-align: center;
  }
}

.contact-us-section {
  background: $color_2;
}

.tariffs-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: white;
  font-size: 64px;
  font-weight: lighter;
}

.tariff-container {
  box-sizing: border-box;
  background: $color_3;
  border-radius: 10px;
  filter: drop-shadow(4px 8px 4px rgba(0, 0, 0, 0.25));
  padding: 20px;
  flex-wrap: wrap;
  text-align: center;
}

.tariff-card {
  display: flex;
  box-sizing: border-box;
  border: 1px solid #FFFFFF;
  border-radius: 10px;
  padding: 20px;
  height: 380px;
  overflow: auto;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  font-size: 18px;
}

.tariff-card-header {
  margin-bottom: 10px;
  border-bottom: 1px solid white;
  font-size: 22px;
}

.tariffs-cards {
  display: grid;
  align-items: center;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  grid-gap: 15px;
  justify-content: space-between;
  margin-top: 2rem;
}

.advantage {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
}

.advantage-text {
  font-size: 18px;
  padding: 10px 0 0;
  margin: 0 0 0 10px;
  white-space: normal;
}

.advantage-icon {
  margin: 0 auto;
}

.tariff-advantages {
  word-wrap: break-word;
  width: 100%;
}

.buy-tariff-button-container {
  display: flex;
  justify-content: center;
}

.buy-tariff-button {
  color: white;
  background: $color_1;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  padding: 20px 40px;
  border: none;
}

.buy-tariff-button:hover {
  background: #cc3636;
}

.contact-us-section {
  text-align: center;
  margin: 0;
  width: 100%;
  height: 100vh;
}

.contact-us-card-container {
  box-sizing: border-box;
  border: 2px solid rgba(255, 255, 255, 0.311);
  border-radius: 10px;
  height: fit-content;
}

.contact-us-header {
  box-sizing: border-box;
  font-size: 48px;
  line-height: 50px;
  align-self: flex-end;

  @media(max-width: 480px) {
    font-size: 36px;
  }
}

.contact-us-card {
  background: $color_3;
  box-shadow: 8px 16px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}

.contact-us-card-header {
  font-size: 36px;

  @media(max-width: 480px) {
    font-size: 28px;
  }
}

.contact-us-card-button {
  text-transform: uppercase;
  color: white;
  background: $color_1;
  box-shadow: 4px 8px 4px rgba(0, 0, 0, 0.35);
  border-radius: 50px;
  font-size: 20px;
  border: none;
  padding: 1rem 2rem;
}

.contact-us-card-button:hover {
  background: #cc3636;
}

@media(max-width: 320px){
  .tariff-container{
    max-width: 265px;
  }

  .tariffs-header {
    font-size: 40px;
  }

  .contact-us-header {
    font-size: 28px;
  }

  .contact-us-section {
    padding: 1rem!important;
  }

  .contact-us-card-container {
    padding: 0.1rem!important;;
  }
}

.plans-header {
  text-align: center;
  color: white;
  margin-top: 1rem;
}

.active-plan {
  padding: 2rem 2rem 3rem;
  border-bottom: 2px solid $color_1;
  @media only screen
  and (min-device-width : 320px)
  and (max-device-width : 480px) {
    padding: 0 0 3rem;
  }

  @media only screen
  and (max-device-width : 320px) {
    padding: 0 0 1rem;
  }
  
  .tariff-container {
    width: 500px;
    margin: 0 auto;
    @media only screen 
      and (min-device-width : 320px) 
      and (max-device-width : 480px) {
      width: 90%;
    }

    @media only screen
    and (min-device-width : 280px)
    and (max-device-width : 320px) {
      margin: 0;
    }
  }
  .tariff-card {
    border: 1px solid $color_1;
  }
  .tariff-card-header {
    border-color: $color_1;
  }
}

@media only screen
and (min-device-width : 280px)
and (max-device-width : 480px) {
  .tarif-section {
    padding: 0.5rem 0.5rem 2rem;
  }
}